<h1>Ola handle!</h1>
<p>O usuario se chama
  {{user.nome}}
  {{user.sobrenome}}, ele possui
  {{idade.idade}}
  anos</p>

{{! abrindo condicional }}

{{! condicional if else }}
{{#if aprovado}}
  <p>O seu cadastro foi aprovado!</p>
{{else}}
  <p>O seu cadastro ainda nao foi aprovado!</p>
{{/if}}

{{! condicional if  }}
{{#if auth}}
  <p>
    Seu acesso foi
    {{acesso}}
  </p>
  <p><a href="/dashboard"> Clique aqui para acessar o dashboard!</a></p>
{{/if}}

<a href="/post"> Clique aqui para acessar a pagina post!</a>